* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
/* main */
main {
  font-weight: 8000;
  background: white;
  width: 300px;
  padding: 20px 20px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 20px auto;
  box-shadow: 1px 1px 5px 3px rgb(217, 217, 217);
}
main h2 {
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 15px;
  position: relative;
}
main h2::after {
  content: "";
  position: absolute;
  width: 60%;
  border-bottom: 2px dotted black;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
main > input {
  width: 90%;
  height: 50px;
  display: block;
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
  background-color: rgb(225, 225, 225);
  border: 1px solid black;
}
main .numbers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  text-align: center;
  margin-bottom: 20px;
}
main .numbers input {
  width: 100%;
  text-align: center;
  border: 0;
  cursor: pointer;
  background-color: silver;
  padding: 12px 0;
  border-radius: 10px;
}
main .numbers .change {
  animation: anmie 0.1s;
}
@keyframes anmie {
  100% {
    background: #14a863;
    color: white;
  }
}
main .clac div {
  width: 100%;
  text-align: center;
  border: 0;
  cursor: pointer;
  background-color: silver;
  padding: 12px 0;
  border-radius: 10px;
}
/* end main */